* annex.backend=MD5E
**/.git* annex.largefiles=nothing
* annex.largefiles=((mimeencoding=binary)and(largerthan=0))
*.csv annex.largefiles=anything
*.xml annex.largefiles=anything
*.json annex.largefiles=(largerthan=100kb)
**/.git* annex.largefiles=nothing
